# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Base de datos
db.sqlite3

# Archivos multimedia
media/

# Variables de entorno
.env
*.env
local_settings.py

# Node
node_modules/

# Editor
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db